NEXT_PUBLIC_API_URL=https://etf-calculator-n6b3.vercel.app
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/wealthcalc?retryWrites=true&w=majority
NEXTAUTH_SECRET=wealthcalc-super-secret-key-change-me
NEXTAUTH_URL=https://etf-calculator-n6b3.vercel.app
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
